.work {
  width: 20%;
  height: 28rem;
  border-radius: 0px 24px 0px 24px;
  background-color: none;
  box-shadow: rgba(17, 12, 46, 0.085) 0px 48px 100px 0px;
}
.fontSec {
  font-family: "Poppins", sans-serif;
}
