* {
  font-family: "Poppins", sans-serif;
}
.wel {
  font-family: "Borel", cursive;
}
.resto_name {
  font-family: "Borel", cursive;
  color: #d9401f;
}
.plusColor {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pendingCard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
